{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">{{aircraft.registration_prefix}}-{{aircraft.registration}}</h2>

{% if photos %}
<img src="{{ photos[0].imageUrl }}" alt="Aircraft Photo - {{aircraft.registration_prefix}}-{{aircraft.registration}}" style="width: 50%; float:right;">
{% endif %}

<table class="aircraftdetail" style="{% if photos %}width: 50%;{% endif %} color:#ffffff; text-align: left">
    <tr>
        <td><b>Registration</b></td>
        <td>{{aircraft.registration_prefix}}-{{aircraft.registration}}</td>
    </tr>
    <tr>
        <td><b>Aircraft Type ICAO</b></td>
        <td>{{aircraft.manufacturer.type_icao}}/{{aircraft.manufacturer.wake_cat}}</td>
    </tr>
    <tr>
        <td><b>Aircraft Type Name</b></td>
        <td>{{aircraft.manufacturer.manufacturer_name}} {{aircraft.manufacturer.model_name}}</td>
    </tr>
    <tr>
        <td><b>Operator</b></td>
        <td>{{aircraft.operator.operator_name}}</td>
    </tr>
    {% if aircraft.year_produced %}
    <tr>
        <td><b>Production Year</b></td>
        <td>{{aircraft.year_produced}}</td>
    </tr>
    {% endif %}
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td colspan="2" style="text-align:center"><i>Added on {{ aircraft.date_time.strftime('%d %B %Y at %H:%M') }} {% if user == "admin" %}by {{aircraft.user.username}}. {% endif %}</i></td>
    </tr>
    {% if user == "admin" %}
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td style="text-align:center"><a href="/database/aircraft/{{ aircraft.id }}/edit" style="color:#ffffff" >Edit Aircraft</a></td>
        <td style="text-align:center"><a href="/database/aircraft/{{ aircraft.id }}/delete" style="color:#ffffff">Delete Aircraft</a></td>
    </tr>
    {% endif %}
</table>

{% endblock %} 