{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">Welcome, {{user}}!</h2>

<!-- search bar -->
<input style="width:50%;" type="text" class="input" placeholder="Search..." name="q" value="{{q}}" hx-get="/database/aircraft" hx-trigger="keyup changed delay:500ms" hx-target="#table-wrapper" hx-swap="innerHTML">

<div class="table-outer">
    <div class="table-container" id="table-wrapper">
        <!-- includes all search results from aircraft-table.html based on content in the search bar -->
        {%include "aircraft-table.html" %}
    </div>
</div>

{% endblock %} 