{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">{{aircraft.registration_prefix}}-{{aircraft.registration}}</h2>

<!-- displays any error/success msgs -->
{%with messages = get_flashed_messages(with_categories=True) %} {%if messages%}
{%for category, message in messages%}
<p class="{{ category }}">{{message}}</p>
{%endfor%}
{%endif%} {%endwith%} 

<!-- displays a photo only if one is provided -->
{% if photos %}
<img src="{{ photos[0].imageUrl }}" alt="Aircraft Photo - {{aircraft.registration_prefix}}-{{aircraft.registration}}" style="width: 49%; float:right; margin-bottom:10px;">
{% endif %}

<!-- sets the table width to 100% only if there is no photo -->
<div class="table-outer" style="{% if photos %}width: 50%;{%else%}width:100%;{% endif %} margin-bottom:10px;">
    <div class="table-container">
        <table class="aircraftdetail">
            {% if aircraft.registration_prefix != "N" and aircraft.registration_prefix != "JA" and aircraft.registration_prefix != "HL" and aircraft.registration_prefix != "VP-A" and aircraft.registration_prefix!= "VP-B" and aircraft.registration_prefix != "VQ-B" %}
            {% set registration = aircraft.registration_prefix + "-" + aircraft.registration %}
            {% else %}
            {% set registration = aircraft.registration_prefix + aircraft.registration %}
            {% endif %}

            <tr>
                <td><b>Registration</b></td>
                <td>{{registration}}</td>
            </tr>
            <tr>
                <td><b>Country of Registration</b></td>
                <td>{{aircraft.prefix.country_name}}</td>
            </tr>
            <tr>
                <td><b>Aircraft Type ICAO</b></td>
                <td>{{aircraft.manufacturer.type_icao}}/{{aircraft.manufacturer.wake_cat}}</td>
            </tr>
            <tr>
                <td><b>Aircraft Type Name</b></td>
                <td>{{aircraft.manufacturer.manufacturer_name}} {{aircraft.manufacturer.model_name}}</td>
            </tr>
            <tr>
                <td><b>Operator</b></td>
                <td>{{aircraft.operator.operator_name}}</td>
            </tr>
            <!-- only includes the year_produced if one exists for the aircraft -->
            {% if aircraft.year_produced %}
            <tr>
                <td><b>Production Year</b></td>
                <td>{{aircraft.year_produced}}</td>
            </tr>
            {% endif %}
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <!-- displays when the aircraft was last modified - 'who by' is for admins to see in case they need to take action -->
                <td colspan="2" style="text-align:center"><i>Modified last on {{ aircraft.date_time.strftime('%d %B %Y at %H:%M') }} {% if user.admin %}by {{aircraft.user.username}}. {% endif %}</i></td>
            </tr>
            {% if user.admin %}
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <td style="text-align:center"><a href="/database/aircraft/{{ aircraft.id }}/edit" style="color:#ffffff" >Edit Aircraft</a></td>
                <td style="text-align:center"><a href="/database/aircraft/{{ aircraft.id }}/delete" style="color:#ffffff" onclick="return confirm('Are you sure you want to delete this aircraft?');">Delete Aircraft</a></td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %} 