{% extends "layout.html" %}
{% block content %}

<p style="color:#ffffff">AeroBase is a community supported database. Thank you for adding your own submissions!</p>

<form method="POST">
    <button style="margin-inline:2px" type="submit" name="action" value="aircraft">Add an Aircraft</button>
    <button style="margin-inline:2px" type="submit" name="action" value="operator">Add an Operator/Airline</button>
</form>

{% if type == 'aircraft' %}

<h2>Add an Aircraft</h2>

<form method="POST">
    <input required
        type = "text"
        name = "registration"
        placeholder = "Aircraft Registration">

    <input required
        type = "text"
        name = "country"
        placeholder = "Country of Registration">
<br>
    <input
        type = "text"
        name = "year_produced"
        placeholder = "Year of Production">

    <input required
        type = "text"
        name = "icao"
        placeholder = "ICAO Type Designator">
    <br>
    <select name="operator_id">
        {% for operator in operators %}
            <option value="{{ operator.icao }}">
                {{ operator.operator_name }} ({{ operator.icao }})
            </option>
        {% endfor %}
    </select>
<br>
    <button style="margin-inline:2px; margin-top:4px" type="submit" name="action" value="submit_aircraft">Submit</button>
</form>

{% endif %}

{% endblock %} 