<!-- home page -->

{% extends "layout.html" %}
{% block content %}

<h2>{{greeting}}</h2>

<!-- displays any error/success msgs -->
{%with messages = get_flashed_messages(with_categories=True) %} {%if messages%}
{%for category, message in messages%}
<p class="{{ category }}">{{message}}</p>
{%endfor%}
{%endif%} {%endwith%} 

<!-- displays the total count of aircraft in the database -->
<p>View the {{count}} community-added aircraft in the <a href="/database" style="color:white;">database</a>!</p>

{% if aircraft_data %}
<h3>Latest Additions:</h3>

<div style="display:flex; justify-content:space-between;">
    {%for item in aircraft_data%}
        <div style="width:33%;"><a href="/database/aircraft/{{item.aircraft.id}}"><img src="{{ item.photo.imageUrl }}" alt="Aircraft Photo - {{item.aircraft.registration_prefix}}-{{item.aircraft.registration}}" style="width: 100%; aspect-ratio:16/9; object-fit:cover;"></a>
        
            <!-- VVVVV ensures correct registration display VVVVV -->
            
            {% if item.aircraft.registration_prefix != "N" and item.aircraft.registration_prefix != "JA" and item.aircraft.registration_prefix != "HL" and item.aircraft.registration_prefix != "VP-A" and item.aircraft.registration_prefix!= "VP-B" and item.aircraft.registration_prefix != "VQ-B" %}
            {% set registration = item.aircraft.registration_prefix + "-" + item.aircraft.registration %}
            {% else %}
            {% set registration = item.aircraft.registration_prefix + item.aircraft.registration %}
            {% endif %}
            <p>{{registration}} ({{item.aircraft.manufacturer.type_icao}})</p>
        </div>
    {%endfor%}
</div>
{% endif %}
{% endblock %} 