<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!-- page title - jinga variable-->
  <title>AeroBase - {{ page_title }}</title>
<!-- Link to external CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='takeoff.ico') }}"> 
</head>
<body>

{% include "header.html" %}
{% include "nav.html" %}

  <hr>
<!-- creates a reusable block - placeholder -->
  {% block content %}{% endblock %}

<div style="clear: both;"></div> <!-- added from AI -->

  <hr>
  {% include "footer.html" %}
</body>
</html>
  