{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<!-- displays any error/success msgs -->
{%with messages = get_flashed_messages(with_categories=True) %} {%if messages%}
{%for category, message in messages%}
<p class="{{ category }}">{{message}}</p>
{%endfor%}
{%endif%} {%endwith%} 

<!-- sets page title depending on action -->
{% if create_account %}
<h2>Create Account</h2>
{% else %}
<h2>Login</h2>
{% endif %}

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<!-- if the user is creating an account and not logging in -->
{% if create_account %}
<form method="POST">

    <input required
        type = "email"
        name = "email"
        placeholder = "Email">

    <input required
        type = "text"
        name = "username"
        placeholder = "Username">
    <br>
    <input required
        type = "password"
        name = "password"
        placeholder = "Password">
    <input required
        type = "password"
        name = "confirm_password"
        placeholder = "Confirm Password">
    <br>
    <!-- 'actualcreate' implies actually pressing submit on the create account form -->
    <button type="submit" name="action" value="actualcreate" style="margin-top: 3px;">
        Create Account
    </button>
    <br>
    <button type="submit" name="action" value="loginreturn" style="margin-top: 3px;">
        Return to Login
    </button>
</form>

{% else %}

<!-- for if the user is logging in -->
<form method="POST">

    <input
        type = "text"
        name = "username"
        placeholder = "Username or email">

    <input
        type = "password"
        name = "password"
        placeholder = "Password">
    <br>
    <button type="submit" name="action" value="login">
        Login
    </button>
    <br>
    <!-- offers the user to create an account -->
    <button type="submit" name="action" value="create" style="margin-top: 3px;">
        Create Account
    </button>
</form>
{% endif %}

{% endblock %}