<nav>
  <button style="margin-inline:2px" type="button" onclick="window.location.href='/'">Home</button>
  <button style="margin-inline:2px" type="button" onclick="window.location.href='/dashboard'">Dashboard</button>
  <button style="margin-inline:2px" type="button" onclick="window.location.href='/about-us'">About Us</button>
  <div class="nav-right">
  {% if is_admin %}
  <button style="margin-inline:2px;" style="margin-left:auto;" type="button" onclick="window.location.href='/admin'">Admin</button>
    {% endif %}
    {% if logged_in %}
      <button style="margin-inline:2px;" type="button" onclick="window.location.href='/profile'">Profile</button>
    {% else %}
      <button type="button" onclick="window.location.href='/login'">Login</button>
    {% endif %}
  </div>
</nav>
