{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">Hello {{user}}!</h2>


<table style="width: 100%; color:#ffffff;">
    <tr>
        <th>Name</th>
        <th>ICAO Code</th>
        <th>Hub Airport</th>
        <th>Year Founded</th>
    </tr>
    {% for operator in operators %}
    <tr>
        <td><a href="/database/operators/{{operator.icao}}" style="color:#ffffff">{{operator.operator_name}}</a></td>
        <td>{{operator.icao}}</td>
        <td>{{operator.hub_icao}}</td>
        <td>{{operator.year_founded}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %} 