{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">{{operator.operator_name}} ({{operator.icao}})</h2>

{% if photos %}
<img src="{{ photos[0].imageUrl }}" alt="Aircraft Photo - {{registration}}" style="width: 49%; float:right; margin-bottom:10px;">
{% endif %}

<table class="aircraftdetail" style="{% if photos %}width: 50%;{%else%}width:100%;{% endif %} color:#ffffff; text-align: left; margin-bottom:10px;">
    <tr>
        <td><b>Name</b></td>
        <td>{{operator.operator_name}}</td>
    </tr>
    <tr>
        <td><b>Operator ICAO</b></td>
        <td>{{operator.icao}}</td>
    </tr>
    <tr>
        <td><b>Number of Aircraft</b></td>
        <td>{{number}}</td>
    </tr>
    <tr>
        <td><b>Hub Airport ICAO</b></td>
        <td>{{operator.hub_icao}}</td>
    </tr>
    <tr>
        <td><b>Year Founded</b></td>
        <td>{{operator.year_founded}}</td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td colspan="2" style="text-align:center"><i>Added on {{ operator.date_time.strftime('%d %B %Y at %H:%M') }} {% if user == "admin" %}by {{operator.user.username}}. {% endif %}</i></td>
    </tr>
    {% if user == "admin" %}
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td style="text-align:center"><a href="/database/operator/{{ operator.icao }}/edit" style="color:#ffffff" >Edit Operator</a></td>
        <td style="text-align:center"><a href="/database/operator/{{ operator.icao }}/delete" style="color:#ffffff">Delete Operator</a></td>
    </tr>
    {% endif %}
</table>

{% if operator.aircrafts %}

<table style="clear:both; width:50%; margin:auto;">
    <tr>
        <th>Registration</th>
        <th>Aircraft Type</th>
    </tr>
    {% for aircraft in operator.aircrafts %}
    {% if aircraft.registration_prefix != "N" and aircraft.registration_prefix != "JA" and aircraft.registration_prefix != "HL" and aircraft.registration_prefix != "VP-A" and aircraft.registration_prefix!= "VP-B" and aircraft.registration_prefix != "VQ-B" %}
    {% set registration = aircraft.registration_prefix + "-" + aircraft.registration %}
    {% else %}
    {% set registration = aircraft.registration_prefix + aircraft.registration %}
    {% endif %}
    <tr>
        <td><a href="/database/aircraft/{{aircraft.id}}" style="color:white">{{registration}}</a></td>
        <td>{{aircraft.manufacturer.type_icao}}/{{aircraft.manufacturer.wake_cat}}</td>
    </tr>
    {% endfor %}
</table>

{%endif%}

{% endblock %} 