{% extends "layout.html" %}
{% block content %}

<h2 style="color: #ffffff;">Welcome, {{user}}!</h2>

<!-- displays any error/success msgs -->
{%with messages = get_flashed_messages(with_categories=True) %} {%if messages%}
{%for category, message in messages%}
<p class="{{ category }}">{{message}}</p>
{%endfor%}
{%endif%} {%endwith%} 

<!-- table of all operators in the database - not searchable due to limited size -->
<div class="table-outer">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ICAO Code</th>
                    <th>Hub Airport</th>
                    <th>Year Founded</th>
                </tr>
            </thead>
            {% for operator in operators %}
            <tr>
                <td><a href="/database/operators/{{operator.icao}}" style="color:#ffffff">{{operator.operator_name}}</a></td>
                <td>{{operator.icao}}</td>
                <td>{{operator.hub_icao}}</td>
                <td>{{operator.year_founded}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %} 